.app {
  background-color: #e6e9ec;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  background-color: #cbd5e1;
  padding: 10px;
}
.logo {
  width: 60px;
  height: 60px;
  margin-left: 40px;
}
.unordered {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.select-container {
  padding-top: 20px;
  padding-bottom: 20px;
}
.select {
  width: 200px;
  height: 30px;
  border-radius: 6px;
  outline: none;
}
.projects {
  align-self: center;
  padding-left: 5%;
  padding-right: 5%;
}
option {
  font-size: 15px;
}
.failure-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
.para {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: bold;
  color: gray;
}
.retry {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #328af2;
  border-radius: 8px;
  border-width: 0;
  text-align: center;
}
